/* ref:  
    https://docs.microsoft.com/en-us/aspnet/core/blazor/components/css-isolation?view=aspnetcore-6.0
*/
.redTitle {
    color: red;
    font-weight: bold;
    /* font-size: 150%; */
}

.redMessage {
    color: red;
    font-weight: bold;
    font-size: 130%;
}
.greenTitle {
    color: green;
    font-weight: bold;
    /* /font-size: 150%; */
}
.greenMessage {
    color: green;
    font-weight: bold;
    font-size: 130%;
}
.centeredMsg {
    color : black;
    font-size : 20px;
    text-align:center;
}
.btnCentered {
    margin: 0 auto;
    display: block;
    color : black;
    background-color : white;
    border-color : black;
    width : 20%;
}
.tdYesNo {
    padding: 50px;
    text-align: center;
    border-color: black;
    background-color: white;
    color: black;
}
.floatR {
    float : right;
}
.floatL {
    float: left;
}
.btnYesNo {
    border-color: black;
    background-color: white;
    color: black;
}

/* ref: https://stackoverflow.com/questions/40513763/buttons-equally-space-between-them-horizontally */
.buttons {
    text-align: justify;
}

.buttons:after {
    content: '';
    display: inline-block;
    /* width: 99.5%; */ /* generates an extra transparent line */
}
/* makeup*/
.buttons {
    min-width: 28em;
    padding: 1.2em 1em 0; 
   /* box-shadow: 0 0 5px; */
    margin: 1em;
   /* border-radius: 0.25em; */
}

/*
    classes from bootstrap.min.css 

    .btn {
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out
}

    .btn-primary {
    color: #fff;
    background-color: #0d6efd;
    border-color: #0d6efd
}
.btn-warning {
    color: #000;
    background-color: #ffc107;
    border-color: #ffc107
}



*/

